:root {
    --gray: #333333;
    --orange: #FF5500;

    --header-height: 84px;
    --footer-height: 86px;
    --vertical-padding: 24px;

    --main-bg: #F5F5F5;
    --main-text-color: #1B1F23;

    --default-border-radius: 8px;
    --default-transition: 0.5s;
}

* {
    box-sizing: border-box;
    margin: 0;

    font-family: Roboto;
    font-weight: 400;
    color: var(--main-text-color);
}

body,
#root {
    width: 100%;
    min-height: 100vh;
    max-height: -webkit-fill-available;
}

#root {
    display: flex;
    flex-direction: column;
}

a {
    display: inline-block;
    
    text-decoration: none;
}

.skeleton {
    position: relative;
    overflow: hidden;

    color: transparent !important;

    border-radius: var(--default-border-radius);
    background-color: #E4E4E4 !important;
    cursor: default !important;

    pointer-events: none;
}

.skeleton:hover {
    transform: none !important;
}

.skeleton::before {
    content: '';

    position: absolute;
    inset: 0;

    width: 100%;
    height: 100%;

    background: linear-gradient(to right, transparent, #F2F2F7, transparent);
    transform: skewX(-10deg) translateX(-120%);
    filter: blur(10px);

    animation-name: skeleton-animation;
    animation-duration: 1s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
}

.skeleton > * {
    visibility: hidden;

    pointer-events: none;
}

@keyframes skeleton-animation {
    0% {transform: skewX(-20deg) translateX(-120%);}
    100% {transform: skewX(-20deg) translateX(120%);}
}