@font-face {
    font-family: Roboto;
    font-style: normal;
    font-weight: 700;
    src: url(./resources/fonts/Roboto-700.woff);
}

@font-face {
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    src: url(./resources/fonts/Roboto-500.woff);
}

@font-face {
    font-family: Roboto;
    font-style: normal;
    font-weight: 400;
    src: url(./resources/fonts/Roboto-400.woff);
}

@font-face {
    font-family: Roboto;
    font-style: italic;
    font-weight: 400;
    src: url(./resources/fonts/Roboto-400-Italic.woff);
}

@font-face {
    font-family: SFProText;
    font-style: normal;
    font-weight: 400;
    src: url(./resources/fonts/SFProText-400.woff);
}